; GlobalFoundries - Device Set Configuration
(
   nil
   app            gfDeviceSetManager
   version        2
   maturity       (
      nil
      enabled     t
      minimum     1.0
   ) ; maturity
   options        (
      nil
      enabled     t
      RF          t
      mmW         t
      ULL         t
      eMRAM       t
      RRAM        t
      ioOxide     EG
   ) ; options
   unlock (
      nil
      enabled     t
      keys        (
         ("EDMOS" "862-294")
         ("ENBFMFET" "581-731")
         ("SLVT100" "624-333")
         ("ILDFET" "475-206")
      ) ; keys
   ) ; unlock
   userRestricted (
      nil
      enabled     t
      cells       (
      ) ; cells
   ) ; userRestricted
) ; config
